In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/aapl_no_dates_2.csv')
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [4]:
pd.date_range(start='7/1/2017', end='7/21/2017', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [5]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())
rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [6]:
df.set_index(rng, inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630