In [1]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/fb.csv",parse_dates=['Date'],index_col='Date')
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [2]:
df.shift(1)

             Price
Date
2017-08-15     NaN
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32

In [3]:
df.shift(-1)

             Price
Date
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24
2017-08-28     NaN

In [5]:
df['Prev Day Price'] = df['Price'].shift(1)
df

             Price  Prev Day Price
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41
2017-08-22  169.64          167.78
2017-08-23  168.71          169.64
2017-08-24  167.74          168.71
2017-08-25  166.32          167.74
2017-08-28  167.24          166.32

In [6]:
df['1 Day Change'] = df['Price'] - df['Prev Day Price']
df

             Price  Prev Day Price  1 Day Change
Date
2017-08-15  171.00             NaN           NaN
2017-08-16  170.00          171.00         -1.00
2017-08-17  166.91          170.00         -3.09
2017-08-18  167.41          166.91          0.50
2017-08-21  167.78          167.41          0.37
2017-08-22  169.64          167.78          1.86
2017-08-23  168.71          169.64         -0.93
2017-08-24  167.74          168.71         -0.97
2017-08-25  166.32          167.74         -1.42
2017-08-28  167.24          166.32          0.92

In [7]:
df['5 day return'] =  (df['Price'] - df['Price'].shift(5))*100/df['Price'].shift(5)
df

             Price  Prev Day Price  1 Day Change  5 day return
Date
2017-08-15  171.00             NaN           NaN           NaN
2017-08-16  170.00          171.00         -1.00           NaN
2017-08-17  166.91          170.00         -3.09           NaN
2017-08-18  167.41          166.91          0.50           NaN
2017-08-21  167.78          167.41          0.37           NaN
2017-08-22  169.64          167.78          1.86     -0.795322
2017-08-23  168.71          169.64         -0.93     -0.758824
2017-08-24  167.74          168.71         -0.97      0.497274
2017-08-25  166.32          167.74         -1.42     -0.651096
2017-08-28  167.24          166.32          0.92     -0.321850

In [8]:
df = df[['Price']]
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [10]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [11]:
df.tshift(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: tshift is deprecated and will be removed in a future version. Please use shift instead.
  """Entry point for launching an IPython kernel.

             Price
Date
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32
2017-08-29  167.24